@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.carousel-item {
  perspective: 1000px; /* เพิ่มความลึก */
}

.carousel-item img {
  transform-style: preserve-3d; /* ช่วยให้การแปลง 3D มีผล */
  transition: transform 0.5s ease; /* เพิ่มความเรียบเนียนให้กับการเปลี่ยนแปลง */
}